[submodule "atlas/atlas/web-vmstats"]
	path = atlas/atlas/web-vmstats
	url = git@github.com:Zate/web-vmstats.git
[submodule "atlas/atlas/websocketd"]
	path = atlas/atlas/websocketd
	url = git@github.com:Zate/websocketd.git
